/* ============= ABOUT HERO SECTION ============= */
.abt-hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.349)), url(../images/about-banner.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.abt-hero h1 {
    margin-bottom: 10px;
}

.abt-hero p {
    font-size: 18px;
    opacity: .8;
    color: #fff;
}


/* ============= INTRO SECTION ============= */
.abt-intro-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.abt-intro-left,
.abt-intro-right {
    width: 50%;
}

.abt-intro-right {
    padding-left: 30px;
}

.abt-intro-right h2 {
    margin-bottom: 15px;
}

.abt-intro-right p {
    margin-bottom: 15px;
    line-height: 1.7;
}

.abt-intro-left img {
    border-radius: 12px;
}


/* ============= VALUE BOX SECTION ============= */
.abt-values {
    text-align: center;
}

.abt-values h2 {
    margin-bottom: 30px;
}

.abt-value-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.abt-value-card {
    background: #fff;
    padding: 30px;
    border-radius: 14px;
    width: calc(33.33% - 20px);
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    transition: all .3s ease;
    cursor: pointer;
}

.abt-value-card:hover {

    transform: scale(1.05);
}

.abt-value-card i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #0a61c4;
}

.abt-value-card h3 {
    margin-bottom: 10px;
}

.abt-value-card p {
    font-size: 15px;
    color: #555;
}


/* ============= TEAM SECTION ============= */
.abt-team {
    text-align: center;
}

.abt-team h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.abt-team-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.abt-team-card {
    width: calc(33.33% - 20px);
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.abt-team-card img {
    border-radius: 10px;
    display: block;
}

.abt-card-img {
    display: block;
}

.abt-team-card h3 {
    margin: 15px 0 5px;
    text-transform: capitalize;
}

.abt-team-card p {
    font-size: 14px;
    opacity: .7;
    text-transform: capitalize;
}


/* ============= RESPONSIVE ============= */

/* xxl - < 1400px | large desktops */
@media (max-width: 1399.98px) {
    /* your css here */
}

/* xl - < 1200px | desktops */
@media (max-width: 1199.98px) {
    /* your css here */
}

/* lg - < 992px | tablets */
@media (max-width: 991.98px) {
    /* your css here */
}

/* md - < 768px | landscape phones */
@media (max-width: 767.98px) {

    .abt-intro-left,
    .abt-intro-right {
        width: 100%;
    }

    .abt-intro-left {
        padding-bottom: 20px;
    }

    .abt-intro-wrapper {
        padding: 0 20px;
    }

    .abt-intro-right {
        padding-left: 0;
    }

    .abt-value-card {
        width: calc(50% - 15px);
        margin-bottom: 15px;
    }

    .abt-team-card {
        width: calc(50% - 15px);
    }
}

/* sm - < 576px | mobile portrait */
@media (max-width: 575.98px) {
    .abt-intro-left {
        padding-bottom: 15px;
    }

    .abt-intro-right h2 {
        margin-bottom: 5px;
    }

    .abt-intro-right h2 {
        font-size: 25px;
    }

    .abt-intro-right p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .abt-intro-wrapper {
        padding: 0 10px;
    }

    .abt-intro {
        padding-bottom: 30px;
    }

    .abt-hero h1 {
        font-size: 35px;
    }

    .abt-hero {
        height: 350px;
    }

    .abt-values h2 {
        font-size: 25px;
    }

    .abt-value-card {

        width: 100%;
        margin-bottom: 15px;
    }

    .abt-team-card {
        width: 100%;
    }






}