.sign-in-pge-card {
    padding: 30px;
    width: 40%;
    /* text-align: center; */
    box-shadow: 3px 3px 15px 5px rgba(189, 188, 188, 0.414);
    border-radius: 7px;
}

.signup-form-upper {
    text-align: center;
}

.sign-in-pge-social img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.sign-in-pge-social {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(215, 210, 210, 0.462);
    margin-bottom: 10px;
    border-radius: 7px;
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    transition: all .3 ease;
    cursor: pointer;
}

.sign-in-pge-social:hover {
    background-color: rgba(215, 210, 210, 0.76);

}

.sign-in-pge-wrap {
    display: flex;
    justify-content: center;
}

.sign-in-pge-card p {
    margin-bottom: 20px;
}

.sign-in-pge-card h2 {
    margin-bottom: 5px;
}

.sign-in-pge-or {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.sign-in-pge-form label,
.sign-in-pge-form input {
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.sign-in-pge-form input {
    padding: 10px;
    border-radius: 7px;
}

.sign-in-pge-row label,
.sign-in-pge-row input {
    width: auto;
}

.sign-in-pge-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;
}

.sign-in-pge-label {
    margin-bottom: 5px;
}

.sign-in-pge-field {
    margin-bottom: 15px;
}

.sign-in-pge-link {
    font-size: 16px;
    text-transform: capitalize;
}

.sign-in-pge-submit {
    background-color: #378df0;
    color: white;
    font-weight: 550;
    margin-bottom: 10px;
    transition: all .3s ease;
    cursor: pointer;
}

.sign-in-pge-submit:hover {
    background-color: #1572db;
}

.sign-in-pge-note {
    text-align: center;
    font-size: 16px;
}

.sign-in-pge-link {
    font-size: 16px;
}

.back-btn {
    font-size: 16px;
    color: black;
    text-transform: capitalize;
    background-color: rgb(224, 221, 221);
    padding: 10px;
    width: 100%;
    display: inline-block;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
    transition: all .3s ease
}

.back-btn:hover {
    background-color: rgb(201, 198, 198);
}










/* media quaries */
@media (max-width: 1199.98px) {
    .sign-in-pge-card {
        width: 50%;
    }
}

@media (max-width: 991.98px) {
    .sign-in-pge-card {
        width: 60%;
    }
}

@media (max-width: 767.98px) {
    .sign-in-pge-card {
        width: 70%;
    }
}

@media (max-width: 575.98px) {
    .sign-in-pge-card {
        width: 100%;
        padding: 20px;
        font-size: 25px;
    }

    .sign-in-pge-field {
        margin-bottom: 15px;
    }
}