/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cmn-class */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.cmn-btn {
    display: inline-block;
    padding: 12px 40px;
    background-color: var(--bg-main);
    color: var(--text-primary);
    border-radius: 60px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: var(--transition-default);
}

.cmn-btn:hover {
    background-color: var(--border);
}

h1,
.heading-1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bg-main);
    margin-bottom: 30px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

h2,
.heading-2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--text-primary);
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

h3,
.heading-3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    color: var(--text-secondary);
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

p,
.paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--text-primary);
}

.cmn-gap {
    padding: 60px 0;
}

:root {
    --bg-main: #FFFFFF;
    --bg-secondary: #eef6fb;
    --bg-3rd-color: #effbf6;
    --text-primary: #000000;
    --text-secondary: #333333;
    --btn-bg: #000000;
    --secondary-btn-bg: #277bda;
    --btn-text: #FFFFFF;
    --btn-hover-bg: #FFFFFF;
    --btn-hover-text: #000000;
    --btn-border-hover: #000000;
    --border: #e0dede;
    --accent: #000000;
    --hover-color: #0a61c4;
    --transition-default: all 0.3s ease;
    --red-color: #f22a42;
    --footer-bg-color: #0d0f1a;
}

/* AOS animation white-space-stop*/
[data-aos="fade-left"],
[data-aos="fade-right"] {
    transform: translateX(20px);
}

/* header-starts */
.header {
    padding: 13px 0;
    background-color: var(--bg-main);
    position: sticky;
    top: 0;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.05),
        0 4px 12px rgba(0, 0, 0, 0.05);
    z-index: 100000;
}

.logo {
    display: block;
    width: 120px;
}


.logo>img {
    display: block;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
    position: relative;
}

.nav-links li::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--secondary-btn-bg);
    transition: all .5s ease;
}

.nav-links li:hover::before {
    width: 100%;
}

.nav-links li:nth-child(6) {
    margin-right: 0;
}

.nav-links li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--text-primary);
    padding: 0 3px 3px;
}

.nav-links li a:hover {
    color: var(--secondary-btn-bg);
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--bg-main);
    border-radius: 20px;
    padding: 5px 15px;
    border: 1px solid var(--border);
    margin-right: 20px;
}

.search-bar .search-bar-input {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.nav-right i {
    font-size: 20px;
    color: var(--text-primary);
}

.nav-right-1 {
    border-right: 1px solid var(--border);
}

.wish-list,
.add-cart {
    padding: 7px 7px 5px;
    border-radius: 7px;
    margin-right: 20px;
    transition: var(--transition-default);
    position: relative;
}

.wish-list:hover,
.add-cart:hover {
    background-color: var(--border);
}

.wish-list::before {
    content: 'Wishlist';
    background: black;
    color: white;
    position: absolute;
    top: 130%;
    padding: 5px 8px;
    left: -7px;
    font-size: 12px;
    border-radius: 7px;
    opacity: 0;
    transition: all .5s ease;
    pointer-events: none;
}

.wish-list::after {
    content: '';
    position: absolute;
    top: 85%;
    left: 52%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgb(0, 0, 0) transparent;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.wish-list:hover::before,
.wish-list:hover::after {
    opacity: 1;
}

.add-cart::before {
    content: 'Add to Cart';
    background: black;
    color: white;
    position: absolute;
    top: 130%;
    padding: 5px 8px;
    left: -20px;
    font-size: 12px;
    border-radius: 7px;
    width: 65px;
    opacity: 0;
    transition: all .5s ease;
    pointer-events: none;
}

.add-cart::after {
    content: '';
    position: absolute;
    top: 85%;
    left: 52%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgb(0, 0, 0) transparent;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.add-cart:hover::before,
.add-cart:hover::after {
    opacity: 1;
}

.user-login {
    margin-left: 20px;
    padding: 5px 7px;
    border-radius: 7px;
    transition: var(--transition-default);
}

.user-login:hover {
    background-color: var(--border);
}

.login-text {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--text-primary);
    margin-left: 10px;
}

.menu-bar {
    display: none;
}

#sale-color {
    color: var(--red-color);
}

/* header-ends */

/* banner-sec-starts */
.banner-sec {
    background: url(../images/banner-bg-img.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.meta-logo {
    width: 280px;
    padding-bottom: 20px;
    display: block;
}

.meta-logo>figure>img {
    display: block;
}

.banner-btm {
    background-color: var(--bg-main);
    display: flex;
    justify-content: space-evenly;
    border-radius: 60px;
    padding: 0 30px;
    position: absolute;
    max-width: 1170px;
    width: 100%;
    top: 95%;
    border: 1px solid var(--border);
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.05),
        0 4px 12px rgba(0, 0, 0, 0.03);
}

.benifits-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-primary);
}

.benifits-1 i {
    margin-right: 10px;
}

.benifit-highlights {
    font-size: 18px;
    font-weight: 520;
    text-transform: capitalize;
}

.banner-btm-divider {
    height: 30px;
    align-self: center;
    width: 1px;
    border: none;
    background-color: var(--border);
}

.benifits {
    padding: 15px 15px;
    position: relative;
    transition: var(--transition-default);
}

.benifits:hover {
    transform: translateY(-5px);

}

.benifits::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    height: 0;
    width: 100%;
    transition: var(--transition-default);
    background-color: rgb(223, 216, 216);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    pointer-events: none;
}

.benifits:hover::before {
    height: 7px;
}

.benifits::after {
    position: absolute;
    content: 'Shop with confidence with a one-year warranty on frames and lenses';
    bottom: 120%;
    background-color: var(--bg-main);
    color: var(--text-primary);
    padding: 13px;
    border-radius: 9px;
    font-size: 14px;
    text-transform: none;
    opacity: 0;
    transition: all .5s ease;
    pointer-events: none;
    width: 100%;
    left: -5%;
}

.benifits:hover::after {
    opacity: 1;
}

.benifits:nth-child(1)::after {
    content: 'Enjoy free shipping and returns on all orders - no minimum required!';
}

.benifits-ii::after {
    content: 'Order and try it for 45 days. Not the perfect pair? Return it for free with a full refund';
}

.benifits-iv::after {
    content: 'Shop now and split your purchase into 4 interest-free payments!';
}

.benifits-v::after {
    content: '10M+ glasses sold since 2008';
}

/* banner-sec-ends */

/* whatsapp-message */
.whatsapp {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    animation: bounce 2s infinite;
}

/* Bouncing animation */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-8px);
    }
}

.brand-logos {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 10px;
    white-space: nowrap;
    justify-content: flex-start;
}

.branded-logo {
    flex: 0 0 auto;
    padding: 8px 20px;
    border: 1px solid var(--border);
    border-radius: 100px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-default);
    margin-right: 15px;
}

.branded-logo:hover {
    background-color: rgb(244, 239, 239);
}

.branded-logo:hover img {
    transform: scale(1.08);
}

.branded-logo>img {
    width: 60px;
    height: 30px;
    display: block;
    transition: var(--transition-default);
}

.brand-logos::-webkit-scrollbar {
    display: none;
}


.all-brand-text {
    text-transform: capitalize;
    color: var(--text-primary);
}

.about-child-heading h2,
.about-sub-text {
    text-align: center;

}

.about-sub-text {
    margin-bottom: 30px;
    font-size: 16px;
}

.about-child-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-eye-glasses {
    border: 1.1px solid var(--text-primary);
    margin-right: 20px;
    font-weight: 600;
}

/* about-sec-ends */

/* slick-slider-starts */


.slick-slider-child {
    position: relative;
}

.recently-view h2 {
    text-align: center;
    text-transform: none;
    margin-bottom: 25px;
}

.slick-lower-sub-text {
    margin-bottom: 15px;
}

.cmn-slick-card {
    display: inline-block;
    width: 150px;
    padding: 10px;
}

.slick-card-upper {
    padding-bottom: 20px;
    display: block;
}

.slick-card-lower-heading {
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.slick-lower-sub-text {
    text-align: center;
    font-size: 14px;
    color: var(--text-secondary);
    opacity: .7;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
    display: none !important;
}

.slick-prev-custom {
    position: absolute;
    top: 50%;
    left: -3%;
    background-color: var(--bg-main);
    padding: 13px;
    border-radius: 50%;
    border: 1px solid var(--border);
    box-shadow: 3px 3px 20px rgb(220, 217, 217);
    cursor: pointer;
    z-index: 1000;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.05),
        0 4px 12px rgba(0, 0, 0, 0.03);
    transition: var(--transition-default);
}

.slick-prev-custom:hover {
    background-color: var(--border);

}

.slick-next-custom {
    position: absolute;
    top: 50%;
    right: -3%;
    background-color: var(--bg-main);
    padding: 13px;
    border-radius: 50%;
    border: 1px solid var(--border);
    box-shadow: 3px 3px 20px rgb(220, 217, 217);
    cursor: pointer;
    z-index: 1000;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.05),
        0 4px 12px rgba(0, 0, 0, 0.03);
    transition: var(--transition-default);
}

.slick-next-custom:hover {
    background-color: var(--border);
}

/* slick-slider-ends */

/* featured-sec-starts */

.featured-sec-upper-text h2 {
    opacity: .6;
    text-align: center;
    margin-bottom: 50px;
}

.featured-sec-upper-text p {
    text-align: center;
    text-transform: capitalize;
    opacity: .6;
    margin-bottom: 50px;
}

.featured-card-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.featured-cmn-card {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    height: 350px;
    cursor: pointer;
    width: calc(25% - 15px);
}

.featured-cmn-card .featured-card-upper {
    display: block;
    width: 100%;
    height: 100%;
}

.featured-cmn-card img {
    transition: 0.4s ease;
    display: block;
}

.featured-cmn-card:hover img {
    transform: scale(1.05);
}

.featured-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px 20px 20px 20px;
    width: 100%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1));
}

.featured-card-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--bg-main);
    margin-bottom: 10px;
    text-transform: capitalize;
}

.featured-card-content p {
    font-size: 14px;
    margin: 0 0 15px;
    color: var(--bg-main);
    text-transform: capitalize;
}

.featured-card-btn {
    display: flex;
    flex-wrap: wrap;
}

.shop-women-btn,
.shop-men-btn {
    background-color: transparent;
    border: 2px solid var(--bg-main);
    margin-right: 10px;
    padding: 7px 25px;
    color: var(--bg-main);
    transition: var(--transition-default);
}

.shop-women-btn:hover,
.shop-men-btn:hover {
    color: var(--text-primary);
}

/* featured-sec-ends */

/* quiz-sec-starts */
.quiz-sec {
    border-radius: 20px;
    padding: 60px 0 100px;
}

.quiz-sec-child {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(80.38deg, #e7f4fe 2.07%, #f4fafe 63.98%);
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
}

.pair-fect-img {
    width: 200px;
    padding-bottom: 20px;
    display: block;
}

.pair-fect-img>figure>img {
    display: block;
}

.quiz-sec-left {
    padding: 0 15px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.quiz-sec-right {
    width: 50%;
    overflow: hidden;
}

.uiz-sec-right>figure>img {
    display: block;
}

.quiz-sec-left h2 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 150;
    width: 100%;

}

.quiz-btn {
    background-color: var(--secondary-btn-bg);
    color: var(--bg-main);
    font-weight: 600;
}

.quiz-btn:hover {
    background-color: var(--hover-color);
}

.paper-plane {
    width: 30px;
    height: 20px;
    margin-right: 6px;
}

/* quiz-sec-ends */

/* popular-brand-sec-starts */

.popular-brands-sec {
    background-color: var(--bg-secondary);
}

.brands-card-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
}

.brand-cmn-card {
    width: calc(25% - 15px);
    background-color: var(--bg-main);
    border-radius: 16px;
    overflow: hidden;
}

.brand-card-upper {
    display: block;
}

.brand-card-upper img {
    display: block;
}

.brand-card-lower {
    width: 120px;
    padding: 15px 0;
    margin: 0 auto;
    display: block;
}

.brand-card-lower img {
    display: block;
}

.brand-links h2 {
    text-align: center;
    margin-bottom: 30px;
}

.brand-links-main {
    width: 50%;
    margin: 0 auto;
}

.brand-logo-link {
    margin-bottom: 20px;
    margin: 0 15px 0 0;
    background-color: var(--bg-main);
}

.brand-logo-link:hover img {
    transform: none;
}

.brand-logo-link:hover {
    background-color: var(--border);
}

.brand-links-child {
    padding: 0;
}

/* popular-brand-sec-ends */


/* collabs-sec-starts */

.collabs-sec-child {
    flex-direction: row-reverse;
    background-color: var(--bg-secondary);
    align-items: center;
}

.collabs-main h2 {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
    opacity: .8;
    margin-bottom: 40px;

}

.collabs-sec-child h3 {
    margin-bottom: 20px;
    font-weight: 600;
}

.collabs-sec-child p {
    font-size: 18px;
    margin-bottom: 25px;
}

.quiz-sec-right>figure>img {
    display: block;
}

.separator {
    border-top: 1px solid rgba(230, 226, 226, 0.459);
    width: 100%;
    height: 1px;
}

.collabs-sec-left {
    display: block;
    padding: 0 15px;
}

/* collabs-sec-ends */


/* form-sec-starts */

.form-sec {
    background-color: var(--bg-secondary);
}

.form-child {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.left-section {
    width: 60%;
    padding: 0 15px;
}

.right-section {
    width: 40%;
}

.left-heading p {
    margin-bottom: 50px;
}

.credit-card-icon {
    margin-right: 10px;
    padding: 5px;
    background-color: var(--bg-main);
    border-radius: 50%;
}

.credit-card-icon img {
    width: 26px;
    height: 26px;
    display: block;
}

.cupon-sec {
    display: flex;
    flex-wrap: wrap;
}

.creadit-card {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    align-items: center;
}

.left-heading h2 {
    font-weight: 700;

}

.cupon-sec p {
    text-transform: capitalize;
}

.right-section {
    padding: 0 15px 0 20px;
}

.form-card {
    background: var(--bg-main);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.form-card h3 {
    margin-bottom: 20px;
    font-size: 18px;
    opacity: .7;

}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.input-wrapper {
    position: relative;
}

.benifit-form input {
    width: 100%;
    padding: 20px 16px 8px 16px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    transition: border-color 0.3s;
    background: var(--bg-main);
}

.benifit-form input:focus {
    outline: none;
    border-color: #5b7ce6;
}

.benifit-form label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
    background: white;
    padding: 0 4px;
}

.benifit-form input:focus+label,
.benifit-form input:not(:placeholder-shown)+label {
    top: 0;
    font-size: 14px;
    color: #5b7ce6;
}

.benifit-form input:not(:focus)+label {
    color: #666;
}

.benifit-form .submit-btn {
    width: 100%;
    padding: 16px;
    background: var(--secondary-btn-bg);
    color: var(--bg-main);
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.benifit-form .submit-btn:hover {
    background: var(--hover-color);
}

.form-btm-text p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

.form-btm-text {
    padding-top: 20px;
}

.terms a {
    color: #5b7ce6;
    text-decoration: underline;
}

/* form-sec-ends */

/* grid-sec-starts */

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}

.grid-card-1,
.grid-card-2,
.grid-card-3,
.grid-card-4 {
    width: 100%;
    height: 295px;
}

.grid-card-1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-card-2 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.grid-card-3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-card-4 {
    grid-column-start: 3;
    grid-column-end: 6;
}

.grid-card-btn {
    width: 100%;
    display: flex;
    justify-content: end;
}

.grid-card-btn .shop-women-btn {
    margin: 0;
}

.grid-card-2 .shop-men-btn {
    margin: 0;
}

.grid-card-4 .shop-women-btn {
    margin: 0;
}

.grid-card-right-btn {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
}

/* grid-sec-ends */


/* testimonial-sec-starts */

.testimonial-section {
    background-color: var(--bg-3rd-color);
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}


.section-header h2 {
    margin-bottom: 30px;
}

.trustpilot-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rating-label {
    font-size: 18px;
    font-weight: 600;
    color: #2c3e50;
    margin-right: 15px;
}

.stars {
    display: flex;
    margin-right: 15px;
}

.stars li i {
    color: #00b67a;
    font-size: 16px;
    margin-right: 3px;
}

.rating-text {
    color: #666;
    font-size: 15px;
    margin-right: 15px;
}

.trustpilot-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #2c3e50;
}

.trustpilot-star {
    color: #00b67a;
    font-size: 17px;
    margin-right: 5px;
}

.swiper {
    width: 100%;
    height: 100%;
}


.review-card {
    padding: 20px 20px 20px 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(211, 207, 207, 0.592);
    margin-right: 20px;
    border-radius: 7px;
    background-color: var(--bg-main);
}

.review-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating i {
    font-size: 14px;
    color: rgb(255, 209, 4);
}

.review-card-upper {
    display: flex;
    background-color: #f7f8f9;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 5px;
}

.rating-5 {
    margin-left: 10px;
    font-size: 14px;
    opacity: .5;
}

.profile-name {
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 900;
}

.profile-name i {
    font-size: 14px;
    color: var(--hover-color);
    margin-left: 5px;
}

.review-card-bottom p {
    font-size: 15px;
    opacity: .7;
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    background: var(--bg-main);
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* testimonial-sec-ends */

/* featured-logo-sec-starts */

.media-showcase-heading h2 {
    margin-bottom: 50px;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
    opacity: .4;
}

.brand-logos-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-logo-box {
    width: 180px;
    opacity: 0.4;
    transition: opacity 0.3s ease, transform 0.3s ease;
    filter: grayscale(100%);
    padding-right: 50px;
}

.brand-logo-box:hover {
    opacity: 1;
    transform: scale(1.05);
    filter: grayscale(0%);
}

.brand-logo-box img {
    display: block;
}

/* featured-logo-sec-ends */


/* search-sec-starts */
.search-wrapper {
    text-align: center;
}

.search-title-wrapper h2 {
    color: #333;
    margin-bottom: 40px;

}

.search-categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search-category-item {
    background: #e8ebef;
    padding: 12px 24px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 15px;
    margin-bottom: 15px;
}

.search-category-item:hover {
    background: #d4d9e0;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.search-icon {
    font-size: 18px;
    color: #555;
    margin-right: 10px;
}

.search-label {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    white-space: nowrap;
}

/* search-sec-ends */

/* gurantee-sec-starts */

.guarantee-section {
    background-color: var(--bg-secondary);
}

.guarantee-wrapper {
    text-align: center;
}

.guarantee-header {
    padding-bottom: 35px;
}

.guarantee-icon {
    width: 50px;
    margin: 0 auto 20px;
    color: var(--text-primary);
    opacity: .5;
}

.guarantee-header h2 {
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 20px;
    opacity: .8;
}

.guarantee-header p {
    color: #6b7280;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 50%;
}

.guarantee-features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.guarantee-feature-item {
    text-align: center;
    padding-right: 60px;
}


.guarantee-feature-icon {
    width: 40px;
    margin: 0 auto 10px;
    color: #1a1a1a;
    opacity: .5;
}

.guarantee-features-container p {
    color: var(--text-primary);
    font-weight: 500;
    opacity: .8;
}

/* gurantee-sec-ends */

/* footer-sec-starts */
.footer-sec {
    background-color: var(--footer-bg-color);
    color: #f5f5f5;
    padding: 60px 0 20px;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.support-box {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: calc(25% - 15px);
    color: var(--btn-text);
}

.support-box:hover {
    background: rgba(255, 255, 255, 0.1);
}

.support-box i {
    font-size: 24px;
    color: #4da6ff;
    margin-right: 10px;
}

.footer-top-heading {
    margin-bottom: 5px;
    color: var(--bg-main);
    font-weight: 550;
    font-size: 16px;
    text-transform: capitalize;
}

.footer-top p {
    font-size: 14px;
    color: #ccc;
}

.footer-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 -15px;
}

.cmn-footer {
    width: 21.66%;
    padding: 0 15px;
}

.newsletter {
    width: 35%;
}

.footer-heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--bg-main);
    text-transform: capitalize;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ccc;
    font-size: 14px;
    transition: all 0.3s ease;
    display: block;
}

.footer-links a i {
    margin-right: 8px;
    color: #4da6ff;
}

.footer-links a:hover {
    color: #4da6ff;
}

.cmn-footer p {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 15px;

}

.newsletter-form {
    display: flex;
    align-items: center;
    background: var(--bg-main);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
}

.newsletter-form i {
    color: #4da6ff;
    margin-left: 10px;
}

.newsletter-form input {
    padding: 12px;
    border: none;
    outline: none;
    font-size: 14px;
}

.newsletter-form .sign-up-btn {
    background: #4da6ff;
    color: var(--bg-main);
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: auto;
}

.newsletter-form .sign-up-btn:hover {
    background: #1f7edb;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
}

.social-icons li {
    display: flex;
    flex-wrap: wrap;
    margin-right: 12px;
}

.social-icons a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--bg-main);
    font-size: 16px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background: #4da6ff;
    color: var(--bg-main);
}

.footer-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
    padding-top: 20px;
    font-size: 14px;
}

.footer-end a {
    color: #ccc;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-end a:hover {
    color: #4da6ff;
}

.copy-right i {
    margin-right: 6px;
}

.copy-right {
    text-transform: uppercase;
    font-size: 12px;
    color: #ccc;
}

.reserved-text {
    text-transform: capitalize;
    margin-left: 7px;
}

.foooter-end-right {
    display: flex;
    flex-wrap: wrap;
}

.foooter-end-right a {
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 12px;
}

/* footer-sec-ends */



/* media-quaries */

@media (max-width: 1399.98px) {
    .banner-btm {
        width: 90%;
    }
}

@media (max-width: 1199.98px) {
    .nav-links li {
        margin-right: 10px;
    }

    .user-login {
        margin-left: 10px;
    }

    .wish-list,
    .add-cart {
        margin-right: 10px;
    }

    .search-bar {

        margin-right: 10px;
    }

    .whatsapp {
        z-index: 100000;
    }

    .slick-next-custom {
        right: 0;
    }

    .slick-prev-custom {
        left: 0;
    }

    .banner-btm {
        width: 97%;
    }

    .benifits {
        padding: 10px;
    }

    .benifit-highlights {
        font-size: 16px;
    }

    .slick-slider-sec {
        padding-top: 40px;
    }

    .featured-cmn-card {
        width: calc(33.33% - 15px);
        margin-bottom: 15px;
    }

    .grid-card-1,
    .grid-card-2,
    .grid-card-3,
    .grid-card-4 {
        width: 100%;
        margin: 0;
    }

    .left-section,
    .right-section {
        width: 50%;
    }

    .featured-cmn-card img {
        height: 300px;
    }

    .cmn-footer {
        padding: 15px;
    }
}

@media (max-width: 991.98px) {
    .support-box {
        width: calc(33.33% - 15px);
        margin-bottom: 15px;
    }

    .cmn-footer {
        width: 33.33%;
        padding: 15px;
    }

    .newsletter {
        width: 45%;
    }

    .featured-cmn-card {
        height: 270px;

    }

    .featured-cmn-card img {
        height: 270px;
    }

    .shop-women-btn,
    .shop-men-btn {
        padding: 7px 19px;
    }

    .brand-cmn-card {
        width: calc(33.33% - 15px);
        margin-bottom: 15px;
    }

    .quiz-sec-right {
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
    }

    .quiz-sec-right>figure>img {
        height: 300px;
    }

    .quiz-sec-left {
        padding: 0 25px;

    }

    .brand-links-main {
        width: 60%;
    }

    .benifits-1 {
        justify-content: center;
    }

    .benifit-highlights {
        font-size: 14px;
    }

    .featured-card-content {
        padding: 40px 17px 17px 17px;
    }

    .nav-links {
        display: inline-block;
        position: fixed;
        top: 63px;
        background-color: var(--bg-main);
        width: 50%;
        text-align: center;
        right: 0;
        transform: translateX(100%);
        padding-block: 15px;
        height: calc(100vh - 63px);
        transition: all .3s ease;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .menu-bar {
        display: block;
    }

    .menu-bar {
        display: block;
        font-size: 20px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 7px;
        transition: var(--transition-default);
    }

    .menu-bar:hover {
        background-color: var(--border);
    }

    .nav-links li {
        margin: 0 0 10px 0;
    }

    .nav-links li a {
        padding: 5px 10px;
        border-radius: 7px;
        transition: var(--transition-default);
    }

    .nav-links li a:hover {
        background-color: var(--border);
    }

    .nav-links li::before {
        content: none;
    }
}

@media (max-width: 767.98px) {

    .search-bar-input {
        display: none;
    }

    .search-bar {
        padding: 5px 9px;
        border: none;
    }

    .nav-search-icon i {
        font-size: 20px;
    }

    .meta-logo {
        width: 240px;
        padding-bottom: 20px;
    }

    .banner-sec h1 {
        font-size: 40px;
    }

    .banner-btm {
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    .banner-btm::-webkit-scrollbar {
        display: none;
    }

    .benifits-1 {
        white-space: nowrap;
        border-right: 1px solid rgba(194, 185, 185, 0.5);
        padding-right: 20px;
    }

    .banner-sec {
        min-height: 500px;
    }

    .banner-btm {
        width: 95%;
    }

    .benifits-v {
        border-right: #00b67a;
    }

    .brand-logos {
        padding: 20px 10px 30px 10px;
    }

    .about-child-heading h2 {
        font-size: 25px;
    }

    .about-sub-text {
        font-size: 15px;
    }

    .shop-eye-glasses:nth-child(2) {
        margin: 0;
    }


    .shop-eye-glasses {
        padding: 10px 25px;
    }

    .featured-sec-upper-text h2 {
        margin-bottom: 40px;
        font-size: 25px;
    }

    .quiz-sec-right,
    .quiz-sec-left {
        width: 100%;
    }

    .quiz-sec-child {
        flex-direction: column-reverse;
    }

    .cmn-slick-card {
        border: 1px solid #f1f3f4;
        margin-right: 15px;
        box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .04), 0 4px 12px -1px rgba(0, 0, 0, .05), 0 1px 1px 0 rgba(0, 0, 0, .05);
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .slick-next-custom,
    .slick-prev-custom {
        display: none !important;
    }

    .featured-card-content {
        text-align: center;
        padding: 40px 0 0;
    }

    .shop-men-btn,
    .shop-women-btn {
        border-radius: 0;
        margin: 0;
        border: 1px solid rgb(199, 192, 192);
        width: 50%;
        border-left: none;
        padding: 10px 19px;
    }

    .featured-cmn-card {
        border-radius: 9px;
        width: calc(50% - 7px);
        margin-bottom: 14px;
    }

    .featured-cmn-card:nth-child(3) .shop-women-btn,
    .featured-cmn-card:nth-child(4) .shop-women-btn {
        width: 100%;
    }

    .featured-cmn-card:nth-child(3) .featured-card-title {
        font-size: 18px;
    }

    .featured-cmn-card::before {
        content: none !important;
    }

    .featured-card-title {
        font-size: 20px;
    }

    .featured-card-btn {
        width: 100%;
    }

    .quiz-sec .quiz-sec-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .quiz-sec-right>figure>img {
        object-fit: none;
        height: 270px;
    }

    .quiz-sec-left {
        padding: 25px 0;
    }

    .quiz-btn {
        padding: 10px 28px;
        font-size: 14px;
    }

    .paper-plane {
        width: 21px;
        height: 12px;
    }

    .pair-fect-img {
        width: 170px;
        padding-bottom: 10px;
    }

    .brand-cmn-card {
        width: calc(50% - 10px);
        margin-bottom: 15px;
    }

    .brand-card-lower {
        width: 100px;
        padding: 15px 0;
        margin: 0 auto;
    }

    .brand-links-main {
        width: 80%;
    }

    .branded-logo>img {
        width: 50px;
    }

    .brand-logo-link {
        margin: 0 15px 0 0;
    }

    .collabs-section .quiz-sec-right {
        border-radius: 0;
    }

    .eyeware-sec .featured-cmn-card:nth-child(2) .shop-women-btn {
        width: 100%;
    }

    .eyeware-sec .featured-cmn-card:nth-child(3) .shop-women-btn {
        width: 50%;
    }

    .form-sec .left-section {
        width: 100%;
        padding: 20px 20px 60px 20px;
        text-align: center;

    }

    .form-sec .right-section {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .left-heading h2 {
        font-size: 25px;
    }

    .left-heading p {
        margin-bottom: 18px;
    }

    .cupon-sec {
        justify-content: center;
    }

    .form-card {
        width: 80%;
    }

    .creadit-card:nth-child(2) {
        margin: 0;
    }

    .grid-section .featured-card-upper {
        display: block;
    }

    .grid-section .featured-cmn-card {
        margin: 0;
    }

    .featured-cmn-card img {
        height: 400px;
    }

    .grid-card-1,
    .grid-card-2,
    .grid-card-3,
    .grid-card-4 {
        width: 100%;
    }

    .grid-section .shop-men-btn,
    .grid-section .shop-women-btn {
        border-radius: 0;
        margin: 0;
        border: 1px solid rgb(199, 192, 192);
        width: 50%;
    }

    .grid-section .featured-card-content {
        padding: 0;
    }

    .grid-parent {
        column-gap: 10px;
        row-gap: 10px;
    }

    .grid-section .grid-card-2 .shop-women-btn {
        width: 50%;
    }

    .grid-card-2 .grid-card-right-btn {
        align-items: center;
    }

    .grid-card-2 p {
        margin: 0 0 10px;
    }

    .grid-card-2 h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .grid-card-1 .shop-women-btn {
        border-top-left-radius: 7px;
    }

    .grid-card-4 h3 {
        margin-right: 5px;
    }

    .grid-card-4 .featured-card-btn {
        width: 50%;
    }

    .grid-card-4 .featured-card-btn .shop-women-btn {
        border-top-left-radius: 7px;
    }

    .brand-logo-box {
        width: 120px;
    }

    .brand-logo-box:nth-child(4) {
        padding: 0;
    }

    .media-showcase-heading h2 {
        margin-bottom: 20px;
    }

    .search-categories-container {
        overflow-x: auto;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .search-category-item {
        margin-bottom: 18px;
        margin-top: 10px;
    }

    .guarantee-header p {
        max-width: 80%;
    }

    .guarantee-features-container {
        padding-top: 20px;
    }

    .guarantee-feature-item {
        padding: 0 10px;
        width: 33.33%;
    }

    .guarantee-feature-item:nth-child(3) {
        padding: 0;
    }

    .guarantee-header h2 {
        font-size: 25px;
    }

    .support-box {
        width: calc(50% - 7px);
    }

    .support-box {
        padding: 10px;
    }

    .footer-top-heading {
        margin-bottom: 5px;
        color: var(--bg-main);
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
    }

    .newsletter {
        order: -1;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .newsletter-form {
        max-width: 80%;
    }

    .cmn-footer:nth-child(1),
    .cmn-footer:nth-child(2) {
        width: 50%;
    }

    .cmn-footer:nth-child(3) {
        width: 100%;
    }

    .footer-child {
        justify-content: initial;
        margin: 0;
    }

    .foooter-end-right {
        width: 100%;
        display: flex;
        justify-content: center;
        order: -1;
        padding-bottom: 15px;
    }

    .copy-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .review-card {
        max-width: 320px;
        padding: 15px;
    }

    .swiper-button-prev {
        display: none !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 17px;
    }
}

@media (max-width: 575.98px) {
    .banner-sec {
        background: url(../images/Banner-img-for-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 450px;
    }

    .banner-sec h1 {
        font-size: 30px;
    }

    .search-bar {
        margin-right: 10px;
        display: none !important;
    }

    .wish-list,
    .add-cart {
        margin-right: 10px;
    }

    .user-login {
        margin-left: 10px;
    }

    .branded-logo>img {
        width: 60px;
    }

    .branded-logo {
        padding: 7px 20px;
        margin-right: 13px;
    }

    .shop-eye-glasses {
        padding: 10px 18px;
    }

    .featured-cmn-card {
        width: 100%;
    }

    .brand-cmn-card {
        width: 100%;
    }

    .quiz-sec-left h2 {
        font-size: 22px;
    }

    .quiz-sec-right>figure>img {
        height: 220px;
    }

    .brand-links-main {
        width: 100%;
    }

    .collabs-sec-child p {
        margin-bottom: 20px;
    }

    .collabs-sec-child h3 {
        font-size: 22px;
    }

    .collabs-sec-child p {
        font-size: 16px;
    }

    .quiz-sec-left {
        padding: 30px 7px;
    }

    .form-child {
        margin: 0;
    }

    .form-sec .left-section {
        padding: 0 0 30px 20px;
    }

    .form-card {
        width: 100%;
    }

    .right-section {
        padding: 0;
    }

    .form-card h2 {
        font-size: 16px;
    }

    .form-card {
        padding: 15px;
    }

    .swiper-button-next {
        display: none !important;
    }

    .review-card {
        margin-right: 0px;
    }

    .profile-name {
        font-size: 16px;
    }

    .brand-logo-box {
        padding: 0 10px 0 0;

    }

    .media-showcase-heading h2 {
        margin-bottom: 30px;
    }

    .featured-cmn-card {
        height: 400px;
    }

    .shop-women-btn,
    .shop-men-btn {
        padding: 13px 19px;
    }

    .cmn-btn {
        font-size: 16px;
    }

    .slick-slider-child {
        padding: 0 15px;
    }

    .featured-sec .featured-card-child {
        padding: 0 5px;
    }

    .featured-cmn-card {
        margin-bottom: 17px;
    }

    .quiz-btn {
        padding: 12px 50px;

    }

    .featured-sec-upper-text h2 {
        font-size: 22px;
        opacity: .9;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .brand-cmn-card {
        width: calc(50% - 7px);
    }

    .eyeware-sec .featured-card-child {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;
        white-space: nowrap;
        scroll-behavior: smooth;
    }

    .eyeware-sec .featured-cmn-card {
        width: 90%;
        margin-right: 20px;
        flex-shrink: 0;
    }

    .cupon-sec {
        justify-content: flex-start;
    }

    .left-heading h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .left-heading p {
        margin-bottom: 18px;
    }

    .form-sec .left-section {
        text-align: left;
    }

    .creadit-card {
        margin: 0 0 10px 0;
    }


    .form-card {
        padding: 20px;
    }

    .grid-section .grid-parent {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding: 0;
    }


    .grid-card-1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .grid-card-2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .grid-card-3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .grid-card-4 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .grid-section .featured-cmn-card {
        height: 250px;
        margin: 0;
    }

    .grid-section .featured-card-upper img {
        height: 250px;
    }

    .review-card {
        max-width: none;
        padding: 40px 20px;
    }

    .swiper-slide {
        width: 80%;
    }

    .section-header h2 {
        font-size: 22px;
    }

    .brand-logo-box {
        width: 120px;
        padding: 15px !important;

    }

    .search-title-wrapper h2 {
        font-size: 22px;
    }

    .search-category-item {
        margin-bottom: 25px;
    }

    .guarantee-header p {
        max-width: 100%;
    }

    .guarantee-feature-icon {
        width: 35px;
    }

    .guarantee-features-container p {
        font-size: 14px;
    }

    .trustpilot-badge {
        order: 10;
    }

    .login-text {
        display: none;
    }



    .user-login,
    .wish-list,
    .add-cart {
        padding: 5px;
    }

    /* footer */
    .support-box {
        width: 100%;
    }

    .cmn-footer {
        width: 100% !important;
    }

    .newsletter-form {
        max-width: 100%;
    }

    .privacy-policy {
        margin-bottom: 7px;
    }

    .whatsapp {
        right: 22px;
        bottom: 18px;
    }
}